/.prove
/Makefile.old
/*/Makefile.old
/*/*/Makefile.old
/PNG/libpng/libpng_la-*.lo
/PNG/libpng/libpng12_la-*.lo
/PNG/libpng/.deps/
/PNG/libpng/.libs/
/PNG/libpng/config.h
/PNG/libpng/config.log
/PNG/libpng/config.status
/PNG/libpng/libpng-config
/PNG/libpng/libpng.la
/PNG/libpng/libpng.pc
/PNG/libpng/libpng.sym
/PNG/libpng/libpng.vers
/PNG/libpng/libpng12-config
/PNG/libpng/libpng12.la
/PNG/libpng/libpng12.pc
/PNG/libpng/libtool
/PNG/libpng/stamp-h1

# extra
/blib/
*.o
*.bs
*.a
\#*\#
.\#*
*~
pm_to_blib
MYMETA.json
MYMETA.yml

# derived source files
Canvas/Canvas.c
Canvas/Makefile
Compound/Compound.c
Compound/Makefile
demos/Makefile
DragDrop/Makefile
Entry/Entry.c
Entry/Makefile
Event/Event.c
Event/Makefile
HList/HList.c
HList/Makefile
InputO/InputO.c
InputO/Makefile
IO/IO.c
IO/Makefile
JPEG/JPEG.c
JPEG/Makefile
Listbox/Listbox.c
Listbox/Makefile
Makefile
Menubutton/Makefile
Menubutton/Menubutton.c
Mwm/Makefile
Mwm/Mwm.c
NBFrame/Makefile
NBFrame/NBFrame.c
PNG/Makefile
PNG/PNG.c
pod/Makefile
pTk/ClientWin.c
pTk/default.h
pTk/exWinHandle.c
pTk/imgBMP.c
pTk/img.h
pTk/imgInit.c
pTk/imgInt.h
pTk/imgObj.c
pTk/imgUtil.c
pTk/imgWindow.c
pTk/imgXBM.c
pTk/imgXPM.c
pTk/ks_names.h
pTk/Makefile
pTk/moredefs.h
pTk/port.h
pTk/stbDiStyle.c
pTk/stbDItem.c
pTk/tclAsync.c
pTk/tclDecls.h
pTk/tclEvent.c
pTk/tclHash.c
pTk/tclIntDecls.h
pTk/tclIntPlatDecls.h
pTk/tclMath.h
pTk/tclNotify.c
pTk/tclPlatDecls.h
pTk/tclPreserve.c
pTk/tclTimer.c
pTk/tclUnixEvent.c
pTk/tclUnixNotfy.c
pTk/tclUnixTime.c
pTk/tixBitmaps.h
pTk/tixCompat.c
pTk/tixDef.h
pTk/tixDiImg.c
pTk/tixDiITxt.c
pTk/tixDiStyle.c
pTk/tixDItem.c
pTk/tixDiText.c
pTk/tixDiWin.c
pTk/tixError.c
pTk/tixForm.c
pTk/tixForm.h
pTk/tixFormMisc.c
pTk/tixGrData.c
pTk/tixGrData.h
pTk/tixGrFmt.c
pTk/tixGrid.c
pTk/tixGrid.h
pTk/tixGrRC.c
pTk/tixGrSel.c
pTk/tixGrSort.c
pTk/tixGrUtl.c
pTk/tix.h
pTk/tixHLCol.c
pTk/tixHLHdr.c
pTk/tixHLInd.c
pTk/tixHList.c
pTk/tixHList.h
pTk/tixImgCmp.c
pTk/tixImgXpm.c
pTk/tixImgXpm.h
pTk/tixInputO.c
pTk/tixInt.h
pTk/tixList.c
pTk/tixMwm.c
pTk/tixNBFrame.c
pTk/tixPort.h
pTk/tixScroll.c
pTk/tixSmpLs.c
pTk/tixTList.c
pTk/tixTList.h
pTk/tixUnixDraw.c
pTk/tixUnixInt.h
pTk/tixUnixPort.h
pTk/tixUnixWm.c
pTk/tixUnixXpm.c
pTk/tixUtils.c
pTk/tk3d.c
pTk/tk3d.h
pTk/tkAtom.c
pTk/tkBind.c
pTk/tkBitmap.c
pTk/tkButton.c
pTk/tkButton.h
pTk/tkCanvArc.c
pTk/tkCanvas.c
pTk/tkCanvas.h
pTk/tkCanvBmap.c
pTk/tkCanvImg.c
pTk/tkCanvLine.c
pTk/tkCanvPoly.c
pTk/tkCanvPs.c
pTk/tkCanvText.c
pTk/tkCanvUtil.c
pTk/tkCanvWind.c
pTk/tkClipboard.c
pTk/tkCmds.c
pTk/tkColor.c
pTk/tkColor.h
pTk/tkConfig.c
pTk/tkConfig.h
pTk/tkCursor.c
pTk/tkDecls.h
pTk/tkEntry.c
pTk/tkError.c
pTk/tkEvent.c
pTk/tkFileFilter.c
pTk/tkFileFilter.h
pTk/tkFocus.c
pTk/tkFont.c
pTk/tkFont.h
pTk/tkFrame.c
pTk/tkGC.c
pTk/tkGeometry.c
pTk/tkGet.c
pTk/tkGrab.c
pTk/tkGrid.c
pTk/tk.h
pTk/tkImage.c
pTk/tkImgBmap.c
pTk/tkImgGIF.c
pTk/tkImgPhoto.c
pTk/tkImgPPM.c
pTk/tkImgUtil.c
pTk/tkInitScript.h
pTk/tkIntDecls.h
pTk/tkInt.h
pTk/tkIntPlatDecls.h
pTk/tkIntXlibDecls.h
pTk/tkListbox.c
pTk/tkMacWinMenu.c
pTk/tkMenubutton.c
pTk/tkMenubutton.h
pTk/tkMenu.c
pTk/tkMenuDraw.c
pTk/tkMenu.h
pTk/tkMessage.c
pTk/tkObj.c
pTk/tkOldConfig.c
pTk/tkOption.c
pTk/tkPack.c
pTk/tkPanedWindow.c
pTk/tkPlace.c
pTk/tkPlatDecls.h
pTk/tkPointer.c
pTk/tkPort.h
pTk/tkRectOval.c
pTk/tkScale.c
pTk/tkScale.h
pTk/tkScrollbar.c
pTk/tkScrollbar.h
pTk/tkSelect.c
pTk/tkSelect.h
pTk/tkSquare.c
pTk/tkStubImg.c
pTk/tkStyle.c
pTk/tkTextBTree.c
pTk/tkText.c
pTk/tkTextDisp.c
pTk/tkText.h
pTk/tkTextImage.c
pTk/tkTextIndex.c
pTk/tkTextMark.c
pTk/tkTextTag.c
pTk/tkTextWind.c
pTk/tkTrig.c
pTk/tkUndo.c
pTk/tkUndo.h
pTk/tkUnix3d.c
pTk/tkUnixButton.c
pTk/tkUnix.c
pTk/tkUnixColor.c
pTk/tkUnixConfig.c
pTk/tkUnixCursor.c
pTk/tkUnixDefault.h
pTk/tkUnixDialog.c
pTk/tkUnixDraw.c
pTk/tkUnixEmbed.c
pTk/tkUnixEvent.c
pTk/tkUnixFocus.c
pTk/tkUnixFont.c
pTk/tkUnixInit.c
pTk/tkUnixInt.h
pTk/tkUnixKey.c
pTk/tkUnixMenubu.c
pTk/tkUnixMenu.c
pTk/tkUnixPort.h
pTk/tkUnixScale.c
pTk/tkUnixScrlbr.c
pTk/tkUnixSelect.c
pTk/tkUnixSend.c
pTk/tkUnixWm.c
pTk/tkUnixXft.c
pTk/tkUnixXId.c
pTk/tkUtil.c
pTk/tkVisual.c
pTk/tkWindow.c
pTk/xbytes.h
Scale/Makefile
Scale/Scale.c
Scrollbar/Makefile
Scrollbar/Scrollbar.c
TextList/Makefile
Text/Makefile
Text/Text.c
TixGrid/Makefile
TixGrid/TixGrid.c
Tixish/Makefile
TixPixmap/Makefile
TixPixmap/Pixmap.c
Tk.c
Tk/Config.pm
TList/Makefile
TList/TList.c
WinPhoto/Makefile
WinPhoto/WinPhoto.c
Xlib/Makefile
Xlib/Xlib.c
Xlib/X/Makefile
Xlib/X/X.c
